{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container" id="brand">
    <div class="jumbotron text-center pt-3">
        <div class="row">
            <div class="col-lg-4 mb-3 align-self-center">
                <img class="img-thumbnail" alt="profile picture" src="{{ user.profile.image.url }}" width="50%"
                    height="50%">
            </div>
            <div class="col-lg-8 text-center">
                <div style="margin-top:10px" class="card">
                    <h4 class="card-title">{{user|capfirst}}'s Profile</h4>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset style="color: #292b2c" class="form-group">
                                <legend class="border-bottom mb-4">Change Profile Info</legend>
                                {{ u_form|crispy }}
                                {{ p_form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Apply Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}