@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x0zqtd');
  src:  url('fonts/icomoon.eot?x0zqtd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x0zqtd') format('truetype'),
    url('fonts/icomoon.woff?x0zqtd') format('woff'),
    url('fonts/icomoon.svg?x0zqtd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-printer:before {
  content: "\e954";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-power:before {
  content: "\e9b5";
}
