{% load staticfiles %}
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw" id="contact"><span class="fas fa-comment mr-2"></span>Comments</h2>
    </div>

    {% if posts %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-2 col-sm-6 col-12 mb-3 ml-4 align-self-center">
                <div class="card" style="width:200px">
                    <div class="caAuthor imagerd-header">
                        <center>
                            <h4 class="card-title">{{post.author}}</h4>
                        </center>
                        <img class="card-img-top" src="{{ post.author.profile.image.url }}" alt="Author image">
                    </div>
                    <div class="card-body">
                        <h4><a href="{% url 'post-detail' post.id %}">{{post.title }}</a></h4>
                        <p style="color: #292b2c" class="card-text">{{ post.content }}</p>
                    </div>
                    {% if user == post.author %}
                    <div class="card-footer">
                        <a href="{% url 'post-update' post.id %}" class="btn btn-primary mt-2">Edit Post</a>
                        <a href="{% url 'post-delete' post.id%}" style="background-color:red; border:red" class="btn btn-primary mt-2">Delete Post</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>

    {% else %}
    <center>
        <h1>No comments yet</h1>
    </center>
    {% endif %}

</div>