{% load staticfiles %}
<br id="comments">
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw"><span class="fas fa-comment mr-2"></span>Comments</h2>
    </div>
    {% if posts %}
    <div class="container">
        <div class="row">
            {% for post in post_list %}
            <div class="col-lg-3 col-sm-4 col-12 mb-4 align-self-center">
                <div class="card" style="width:200px">
                    <div class="caAuthor imagerd-header">
                        <center>
                            <h4 class="card-title">{{post.author|capfirst}}</h4>
                        </center>
                        <img class="card-img-top" src="{{ post.author.profile.image.url }}" alt="Author image">
                    </div>
                    <div class="card-body">
                        <h4><a href="{% url 'post-detail' post.id %}">{{post.title }}</a></h4>
                        <p style="color: #292b2c" class="card-text">{{ post.content }}</p>
                    </div>
                    {% if user == post.author %}
                    <div class="card-footer">
                        <a href="{% url 'post-update' post.id %}" class="btn btn-primary mt-2">Edit Post</a>
                        <a href="{% url 'post-delete' post.id%}" style="background-color:red; border:red"
                            class="btn btn-primary mt-2">Delete Post</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if post_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1#comments">First</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ post_list.previous_page_number }}#comments">{{post_list.previous_page_number}}</a>
            </li>
            {% endif %}
            <li class="page-item">
                <p class="page-link">Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.</p>
            </li>
            {% if post_list.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ post_list.next_page_number }}#comments">{{post_list.next_page_number}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.paginator.num_pages }}#comments">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% else %}
    <center>
        <h1>No comments yet</h1>
    </center>
    {% endif %}
</div>