{% load staticfiles %}
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw" id="contact"><span class="fas fa-paper-plane mr-2"></span>Contact</h2>
    </div>
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 col-12 mb-3 align-self-center">
                    <a href="https://www.linkedin.com/in/serban-alexandru-aa5020180/" target="_blank" rel="nofollow">
                        <img class="img-fluid img-thumbnail" alt="linkedin" src="{% static 'images/link.png' %}">
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 col-12 mb-3 align-self-center">
                    <a href="https://github.com/AlexandruSerban321" target="_blank" rel="nofollow">
                        <img class="img-fluid img-thumbnail" alt="github" src="{% static 'images/qr_github.png' %}">
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>