{% load static %}
<br id="contact">
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw"><span class="icon-airplane mr-2"></span>Contact</h2>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-12 mb-3 align-self-center">
                    <a href="https://www.linkedin.com/in/serban-alexandru-aa5020180/" target="_blank" rel="noopener">
                        <img class="img-fluid img-thumbnail" alt="linkedin" src="{% static 'images/link.png' %}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>