{% load staticfiles %}
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw" id="experience"><span class="fas fa-briefcase mr-2"></span>Experience</h2>
    </div>
    <div class="container">

        {% if all_experiences %}
        {% for Experience in all_experiences %}

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>
                        {{ Experience.company }}
                    </h3>
                    <h6>
                        {{ Experience.position }}
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-sm-left text-md-right text-muted">
                        {{ Experience.location }}
                    </h6>
                    <h6 class="text-sm-left text-md-right text-muted">
                        {{ Experience.start_date|date:'M Y'}} -
                        {% if Experience.end_date is null %}
                        Present
                        {% else %}
                        {{ Experience.end_date|date:'M Y'}}
                        {% endif %}
                    </h6>
                </div>
            </div>
            <a href="#multi_collapse_education_5" data-toggle="collapse">
                <i class="far fa-caret-square-down"></i>
                Details
            </a>
            <div class="container collapse multi-collapse" id="multi_collapse_education_5">
                <div class="ember-view pv-entity__extra-details" id="ember1167">
                    <div class="ember-view pv-entity__extra-details" id="ember1167">
                        <p>&nbsp;</p>
                    </div>

                    <ul>

                        <li>
                            <p>
                                {{ Experience.details | safe }}
                            </p>
                        </li>

                    </ul>
                </div>

                <p>&nbsp;</p>
            </div>
        </div>

        <br>

    </div>
</div>
{% endfor %}
{% else %}
<h2>You have no experience so please backe some cookies</h2>
{% endif %}