{% load staticfiles %}
<br id="experience">
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw"><span class="fas fa-briefcase mr-2"></span>Experience</h2>
    </div>
    <div class="container">
        {% if all_experiences %}
        {% for experience in all_experiences %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>
                        {{ experience.company }}
                    </h3>
                    <h6>
                        {{ experience.position }}
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-sm-left text-md-right text-muted">
                        {{ experience.location }}
                    </h6>
                    <h6 class="text-sm-left text-md-right text-muted">
                        {{ experience.start_date|date:'M Y'}} -
                        {% if experience.end_date is null %}
                        Present
                        {% else %}
                        {{ experience.end_date|date:'M Y'}}
                        {% endif %}
                    </h6>
                </div>
            </div>
            <a href="#experience_{{ experience.id }}" data-toggle="collapse">
                <i class="far fa-caret-square-down"></i>
                Details
            </a>
            <div class="container collapse multi-collapse" id="experience_{{ experience.id }}">
                <div class="ember-view pv-entity__extra-details" id="ember1167">
                    <div class="ember-view pv-entity__extra-details" id="ember1167">
                        <p>&nbsp;</p>
                    </div>
                    <ul>
                        <li>
                            <p>
                                {{ experience.details | safe }}
                            </p>
                        </li>
                    </ul>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <br>
        {% endfor %}
        {% else %}
        <h2>You have no experience so please backe some cookies</h2>
        {% endif %}
    </div>
</div>