{% load staticfiles %}
<br id="skills">
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw"><span class="icon-wrench mr-2"></span>Skills</h2>
    </div>
    {% if all_skills %}
    <div class="container">
        {% for category in all_categories %}
        <div class="container text-left">

            <h3 class="">{{ category.name }}</h3>
            <div class="container">
                <div class="row">
                    {% for skill in category.skill_set.all %}
                    <div class="col-sm-3 mb-3">
                        <label style="color: white;" for="html">{{ skill.name }}</label>
                        <div class="progress">
                            <div class="progress-bar" id="html" role="progressbar" style="width:{{ skill.level }}%">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <h2>You have no skills, so you need to level up!</h2>
    </div>
    {% endif %}
</div>