{% load staticfiles %}
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw" id="skills"><span class="fas fa-wrench mr-2"></span>Skills</h2>
    </div>

    {% if all_skills %}

    <div class="container">

        <div class="container text-left">

            <div class="container">
                <div class="row">
                    {% for skill in all_skills %}
                    <div class="col-sm-3 mb-3">
                        <label style="color: #FFF" for="html">{{ skill.name }}</label>
                        <div class="progress">
                            <div class="progress-bar" id="html" role="progressbar" style="width:{{ skill.level }}%">
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <br>
        </div>

    </div>

    {% else %}
    <h2>You have no skills, so you need to level up!</h2>
    {% endif %}

</div>