{% load staticfiles %}
<div class="container">
    <div class="bpu afn afd">
        <h2 class="bpv bpw" id="strength"><span class="fas fa-bolt mr-2"></span>Strengths</h2>
    </div>

    <div class="col-lg-3 col-sm-6 col-12 mb-3 align-self-center">
        <div class="container">

            <div class="container">
                <div class="container">
                    <ul>
                        <li>
                            <p>Health Conscious alcohol/drug free</p>
                        </li>
                        <li>
                            <p>Flexible, quick to pick up new skills and eager to learn continuosly</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>