{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Description" content="Alexandru Serban's resume">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="google-site-verification" content="xL5NCRDc44O5FpnJd3_uDfeL_HoSD6dt3qshvX-2vRY" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://i.icomoon.io/public/temp/efb66af101/UntitledProject/style.css">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<title>Alexandru Serban's resume</title>