{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Description"
    content="This resume is maide in the programing language Python wite the framework of Django it contains Alexandru Serban's information and has a feature of 'comments' used to leave thoughts on my work">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="google-site-verification" content="xL5NCRDc44O5FpnJd3_uDfeL_HoSD6dt3qshvX-2vRY" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet">
<title>Alexandru Serban</title>