{% load staticfiles %}
<div class="container">
    <nav class="nav navbar navbar-expand-xl navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse"
                aria-label="Toggle navigation" type="button" data-target="#navbarCollapse" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav pull-sm-left">
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            Alexandru Serban
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homeurl' slug=#experience %}">
                            <span class="fas fa-briefcase mr-2" aria-hidden="true"></span>Experience
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">
                            <span class="fas fa-graduation-cap mr-2" aria-hidden="true"></span>Education
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">
                            <span class="fas fa-wrench mr-2" aria-hidden="true"></span>Skills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            <span class="fas fa-paper-plane mr-2" aria-hidden="true"></span>Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post-create' %}">
                            <span class="fas fa-comment mr-2" aria-hidden="true"></span>Add comment
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="nav pull-sm-right">
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:serban200208@gmail.com">
                            <span class="fas fa-envelope" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fas fa-print" aria-hidden="true" onclick="window.print()"></span>
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">{{user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next={% url 'home' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>