{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="index, nofollow">
    {% include 'head.html' %}
</head>

<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="container" id="brand">
            <div class="jumbotron text-center pt-3">
                <div class="row">
                    <div class="col-lg-4 mb-3 align-self-center">
                        <img class="img-thumbnail" alt="Alexandru" src="{% static 'images/alexandru.jpg' %}" width="200px" height="200px">
                    </div>
                    <div class="col-lg-8 text-center">
                        <h1>Alexandru Serban</h1>
                        <blockquote>
                            <h5>“Success means something different for everybody"</h5>
                        </blockquote>
                        <p class="text-justify">
                        </p>
                        <p class="text-justify">
                            From when i was in my early teen's i started learning to code and now do it with passion and profesionalism looking to improve at what i'm doing by whatever means necessary.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'education.html' %}
    {% include 'experience.html' %}
    {% include 'skills.html' %}
    {% include 'strenght.html' %}
    {% include 'contact.html' %}
    {% include 'comments.html' %}
    {% include 'js.html' %}
</body>

</html>