{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="index, nofollow">
    {% include 'head.html' %}
</head>

<body>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="container" id="brand">
            <div class="jumbotron text-center pt-3">
                <div class="row">
                    <div class="col-lg-4 mb-3 align-self-center">
                        <img class="img-thumbnail" alt="Alexandru" src="{% static 'images/alexandru.jpg' %}">
                    </div>
                    <div class="col-lg-8 text-center">
                        <h1>Alexandru Serban</h1>
                        <blockquote>
                            <h5>“Success is what comes after you stop making excuses.”</h5>
                        </blockquote>
                        <h4 class="text-justify">
                            <bolt>My objective:</bolt>
                        </h4>
                        <p class="text-justify">
                        </p>
                        <p class="text-justify">
                            I have strong ability of self taught and from when i was 15 i studied and
                            worked to build web programs with Django and small scripts with Python and I am eager to
                            improve not only my
                            Python skills but any programing skill in general.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'education.html' %}
    {% include 'experience.html' %}
    {% include 'skills.html' %}
    {% include 'strenght.html' %}
    {% include 'contact.html' %}
    {% include 'comments.html' %}
    {% include 'js.html' %}
</body>

</html>