{% extends 'base.html' %}
{% block main %}
<div style="margin-top:10px" class="card">
    <div class="card-body">
        <h4 class="card-title">Delete Post</h4>
    
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2 style="color: red" class="border-bottom mb-4">Are you sure you want to delete this post? "{{object.title}}" </h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" >Delete Post</button>
                <a class="btn btn-outline-secondary" href="{% url 'home' %}" >Cancel</a>
            </div>
        </form>
    </div>

</div>
{% endblock %}